extends layout

block content
  #calendar-filter
    .button-group
      h5.pt-1 Calendars
    #calendar-filters
      .list-group
        button.list-group-item.list-group-item-action(type='button'
        data-toggle='collapse' data-target="#course-filters"
        aria-expanded="true" aria-controls="course-filters")
          | Courses
          i#courses-chevron.float-right.fas.fa-chevron-down.pt-1
        #course-filters.collapse.show
          .filter-container
            .form-check
              label.form-check-label(style='color: orange;')
                input.form-check-input(type='checkbox' value='cogs121' checked onchange='updateEvents()')
                span.ml-2 COGS 121
            .form-check
              label.form-check-label(style='color: lightblue;')
                input.form-check-input(type='checkbox' value='cse131' checked onchange='updateEvents()')
                span.ml-2 CSE 131
        button.list-group-item.list-group-item-action(type='button'
        data-toggle='collapse' data-target="#event-filters"
        aria-expanded="true" aria-controls="event-filters")
          | Events
          i#event-chevron.float-right.fas.fa-chevron-down.pt-1
        #event-filters.collapse.show
          .filter-container
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox' value='lecture' checked onchange='updateEvents()')
                span.ml-2 Lectures
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox' value='officehours' checked onchange='updateEvents()')
                span.ml-2 Office Hours
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox' value='assignment' checked onchange='updateEvents()')
                span.ml-2 Deadlines
      #datepicker

  main.col
    #calendar-container
      #calendar

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js")
  script(src='javascripts/main.js')