extends layout

block content
    div(class='container-fluid')
        div(class='col-md-9 ml-sm-auto col-lg-10 px-4' role='main')
            div(class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom')
                h1(class='h2') Week 4 - April 2018
                div(class='btn-toolbar mb-2 mb-md-0')
                    div(class='btn-group mr-2')
                        button(class='btn btn-sm btn-outline-secondary') Day
                        button(class='btn btn-sm btn-primary') Week
                        button(class='btn btn-sm btn-outline-secondary') Month

            iframe(
                id='1491563361'
                src='https://www.google.com/calendar/embed?src=eng.ucsd.edu_96g4u69tnnrvl38rncb3ei3vd0@group.calendar.google.com&amp;color=%23668CD9&amp;src=eng.ucsd.edu_jp0fp8ec8vr0kd3lp5ltqlbqc4@group.calendar.google.com&amp;color=%23D96666&amp;mode=WEEK&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showTabs=1&amp;showCalendars=0&amp;hl=en&amp;authuser=0'
                width='70%' height='500px')
    span(class="border border-primary")
        div(class='eventdetail')
        p This is the eventdetail

