doctype html
html
  head
    title= title
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
  body

    nav(class='navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow')
      a(class='navbar-brand col-sm-3 col-md-2 mr-0' href='/') Plato

    div(class='container-fluid')
      div(class='row')
        nav(class='col-md-2 d-none d-md-block bg-light sidebar')
          div(class='sidebar-sticky')
            ul(class='nav flex-column')
              li(class='nav-item')
                a(class='nav-link active' href='/') Calendar
            h6(class='sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted') Courses
            ul(class='nav flex-column mb-2')
              li(class='nav-item')
                a(class='nav-link' href='/courses/cogs121') COGS 121
                a(class='nav-link' href='/courses/cogs123') COGS 123
                a(class='nav-link' href='/courses/cogs102c') COGS 102C

    block content