//use plotlyjs to create a data visualization of the workload for each of the classes

extends layout

block content
  main#myDiv

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
  script(src='javascripts/data.js')
  script(src='javascripts/main.js')

  script.

    //display for each class
    const classSet = [];

    const x = [];
    //arrays for the different sets of y-axes (assess, hw, readings)
    const y1 = [];
    const y2 = [];
    const y3 = [];


    //connect to real database

    x.push("COGS 121");
    y1.push(3);
    y2.push(7);
    y3.push(0);

    x.push("CSE 131");
    y1.push(2);
    y2.push(10);
    y3.push(2);

    x.push("COGS 187A");
    y1.push(0);
    y2.push(11);
    y3.push(5);

    var data = [];

    //create different objects for the graph
    var trace1 = {
      x: x,
      y: y1,
      name: "assessments",
      type: "bar"
    }
    data.push(trace1);

    var trace2 = {
      x: x,
      y: y2,
      name: "homeworks",
      type: "bar"
    }
    data.push(trace2);

    var trace3 = {
      x: x,
      y: y3,
      name: "readings",
      type: "bar"
    }
    data.push(trace3);

    //add this class to the array

    var layout = {barmode: 'group'};

    Plotly.newPlot('myDiv', data, layout);
