.popover-content
  ul.list-group.list-group-flush
    li.list-group-item.pl-0
      .pb-1
        i.fas.fa-calendar.fa-fw
        span.p-4= date
      .pb-1
        i.fas.fa-clock.fa-fw
        span.p-4= time
      .pb-1
        i.fas.fa-map-marker.fa-fw
        span.p-4= location
      .pb-1
        i.fas.fa-user-circle.fa-fw
        span.p-4= staff