body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.navbar {


}

<<<<<<< HEAD
a {
  color: white;
  padding: 10px;
}

i {
    float: right;
    width: 20%;
    <text-align: center;
    color: white;
  }

b{
    margin: 10px 20px 10px 40px;
}
c{
    margin 10px 10px 10px 50px;
}
.icon-bar i:hover {
  background-color: #000;
}

e{
    font-size: 12px;
}
=======
#plato {
  color: white;
}


>>>>>>> 0813fc57a8a180cd473fd157c41a594040e14a2c

